{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
<h1>Products</h1>
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100 custom-card">
                    {% if product.image %}
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://picsum.photos/300/150?random={{ loop.index }}" class="card-img-top" alt="Placeholder image">
                    {% endif %}
                    <div class="card-body">
                        <a href="{{path('app_home_product_show',{'id': product.id})}}" class="card-title">{{ product.name }}</a>
                        <p class="card-text text-truncate">{{ product.description }}</p>
                        <a href="{{path('app_cart_new',{'id': product.id})}}" class="btn btn-primary btn-sm">Ajouter au panier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun produit disponible.</p>
        {% endfor %}
    </div>
</div>


</div>
{% endblock %}
