{% extends 'base.html.twig' %}

{% block title %}Categories!{% endblock %}

{% block body %}
<div class="container">
    <h1>Categories</h1><br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>
                <a href="{{ path('app_category_update', {'id': category.id}) }}">Edit</a>
                <a href="{{ path('app_category_delete', {'id': category.id}) }}" class="text-danger">Delete</a>
            </td>
        </tr>
        {% else%}
        <p> there is nothing to see here  ! </p>
        {% endfor %}
    </tbody>
</table>
<br>
<a class="btn btn-outline-primary"  href="{{ path('app_category_add') }}" class="text-danger">Add New Category !</a>
</div>

{% endblock %}
