{{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name, 'Category Name', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.price, 'Price', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.price, { 'attr': { 'class': 'form-control' } }) }}
    </div>

    <div class="form-group">
        {{ form_label(form.subCategories, 'Subcategories', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.subCategories, { 'attr': { 'class': 'form-control' } }) }}
        
    </div><br>
    <button class="btn btn-outline-primary d-block w-100">{{ button_label|default('Save') }}</button>

    

{{ form_end(form) }}
