{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<div class="container">
    <h1>Products</h1><br>
 {% include 'layouts/_flash_message.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description|slice(0,60) }}</td>
                <td>{{ product.price }}</td>

                <td>
                    {% if product.stock > 0 %}
                    {{ product.stock }}
                    {% else %}
                    <span class="text-bg-danger">Expired !</span>
                {%endif%}
                </td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-outline-info" href="{{ path('app_product_stock_add', {'id': product.id}) }}">Add Stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no nothing to see here !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_product_new') }}">Add a Product</a>

</div>
{% endblock %}
