{{ form_start(form) }}
    <label for=""> Name of the Sub Category </label>
    {{ form_widget(form.name, {attr:{'class': 'form form-control'} }) }}
    <label for=""> Name of Category </label>
    {{ form_widget(form.category, {attr:{'class': 'form form-control'} } )}}<br>
    <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
